*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

/* navbar */

.navbar {
  background-color: #1f2937;
  color: #fff;
  padding: 2rem;
  padding-bottom: 8rem;
}

.navbar .container {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 2.4rem;
  color: #f9faf8;
  font-weight: bold;
}

.nav {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav a:link,
.nav a:visited {
  font-size: 1.8rem;
  color: #e5e7eb;
  text-decoration: none;
}

/* header section */

.header {
  background-color: #1f2937;
  color: #fff;
  padding: 2rem;
  padding-bottom: 14rem;
}

.header .container {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.header .container > * {
  flex: 1;
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.header .paragraph {
  margin-bottom: 2rem;
}

.header .paragraph,
.header .button {
  font-size: 1.8rem;
  color: #e5e7eb;
}

.header .button {
  text-decoration: none;
  padding: 0.8rem 2.6rem;
  background-color: #3882f6;
  border-radius: 10px;
  display: inline-block;
  font-weight: 700;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 231, 235, 0.377);
  padding: 12rem 8rem;
  font-size: 1.8rem;
  color: #e5e7eb;
}

/* cards-section */

.cards-section {
  text-align: center;
  margin-bottom: 12rem;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 5rem;
}

.cards-section .container {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-box .paragraph {
  width: 80%;
}

.card {
  width: 18rem;
  height: 18rem;
  border: 5px solid #3882f6;
  border-radius: 20px;
  margin-bottom: 1rem;
}

/* testimonial section */

.testimonials-section {
  background-color: #e5e7eb;
}

.testimonials-section .container {
  width: 100rem;
  margin: 0 auto;
  padding: 10rem;
}

.testimonials-section .quote {
  font-size: 3.6rem;
  font-weight: 300;
  font-style: italic;
}

.testimonials-section span {
  font-weight: 700;
  font-size: 2.6rem;
  display: block;
  margin-left: auto;
  width: max-content;
}

/* cta section */

/* .cta-section {
} */

.cta-section .container {
  max-width: 110rem;
  margin: 10rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882f6;
  padding: 5rem 4rem;
  border-radius: 10px;
  color: #e5e7eb;
}

.cta-section .button {
  text-decoration: none;
  padding: 0.8rem 3rem;
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
  border-radius: 10px;
  display: inline-block;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 2.2rem;
}

/* footer */
.footer {
  background-color: #1f2937;
  text-align: center;
  color: #e5e7eb;
  padding: 4rem;
}
